<%= form_for(@comment, html: {class: "form"}) do |f| %>

    <% if @comment.errors.any? %>
        <div id="errors">
          <h2><%= pluralize(@comment.errors.count, "error") %> prevented this comment from saving:</h2>
          <ul>
            <% @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div>
      <%= f.label 'Ваше Ім\'я:' %><br>
      <%= f.text_field :user_name %>
    </div>
    <div>
      <%= f.label 'Куди ми їхали:' %><br>
      <%= f.text_field :where_we_went %>
    </div>
    <div>
      <%= f.label 'Email:' %><br>
      <%= f.text_field :email, type: "email" %>
    </div>
    <div>
      <%= f.label 'Опис відгуку:' %><br>
      <%= f.text_area :description %>
    </div>
    <div>
      <%= f.label 'Оцінка:' %><br>
      <% if current_page?(new_comment_path) %>
          <%= f.number_field :rating, :value => 5, in: 1...6 %>
      <% else %>
          <%= f.number_field :rating, in: 1...6 %>
      <% end %>
    </div>

    <%= f.submit "Надіслати", class: "submit" %>
<% end %>