<div>
  <strong>Ім'я:</strong>
  <%= @comment.user_name %>
</div>
<br>
<div>
  <strong>Куди ми їхали:</strong>
  <%= @comment.where_we_went %>
</div>
<br>
<div>
  <strong>Email:</strong>
  <%= @comment.email %>
</div>
<br>
<div>
  <strong>Опис відгуку:</strong>
  <%= @comment.description %>
</div>
<br>
<div>
  <strong>Оцінка:</strong>
  <%= @comment.rating %>
</div>
