<div id="comment_content">
  <p class="body"><span>Відгук: </span><br><%= @comment.description %></p>
  <p class="author"><span>Автор: </span><br><%= @comment.user_name %></p>
  <p><span>Куди ми їздили: </span><br><%= @comment.where_we_went %></p>
  <p><span>Оцінка: </span><br><%= @comment.rating %></p>
  <p class="date">
    <span>Коли: </span><br><%= @comment.created_at.strftime("%B, %d, %Y") %>
  </p>
</div>