<%= form_for(@order, html: {class: "form"}) do |f| %>

    <% if @order.errors.any? %>
        <div id="errors">
          <h2><%= pluralize(@order.errors.count, "error") %> prevented this comment from saving:</h2>
          <ul>
            <% @order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div>
      <%= f.label 'Ваше Ім\'я:' %><br>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label 'Контактний номер телефону:' %><br>
      <%= f.text_field :phone_number %>
    </div>
    <div>
      <%= f.label 'Поїздка - Звідки:' %><br>
      <%= f.text_field :trip_from%>
    </div>
    <div>
      <%= f.label 'Поїздка - Куди:' %><br>
      <%= f.text_field :trip_to %>
    </div>
    <div>
      <%= f.label 'Орієнтовна дата відправлення:' %><br><br>
      <%= f.datetime_select :date_of_departure %>
    </div>
    <div>
      <%= f.label 'Примітки:' %><br>
      <%= f.text_area :notes %>
    </div>

    <%= f.submit "Надіслати", class: "submit" %>
<% end %>